.header {
  max-width: 1440px;
  padding: 92px 50px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
}

.header__links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
  border: none;
}

.header__logo {
  padding-right: 11%;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.header__address {
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.address a {
  text-underline-position: under;
}

.address address {
  font-style: normal;
}

.cover {
  max-width: 1440px;
  max-height: 757px;
  margin: 0 auto;
  background: url(/images/cover.jpg) center/100%;
  position: relative;
  z-index: -1;
}

.overlay {
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 135px;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: block;
}

.aligned-text {
  text-align: left;
  line-height: 115%;
  letter-spacing: 30px;
}

.aligned-text_center {
  text-align: center;
  line-height: 140%;
  letter-spacing: 30px;
  position: relative;
  left: 13px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
  letter-spacing: 30px;
  position: relative;
  left: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
  position: relative;
  right: 25px;
}

.no-letter-spacing {
  letter-spacing: 0;
  position: relative;
  right: 35px;
}

.cover__description {
  padding-right: 50px;
  padding-bottom: 50px;
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 127.273%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: none;
  padding: 12px 32px;
}

.lots {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 184px;
  padding: 0 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  margin-top: 27px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  
@media (max-width: 1439px) {
    flex: 1 0 50%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.lots__card-list-item {
}

.card-link {
  color: #fff;
  display: block;
  max-width: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-height: 450px;
  position: relative;
  z-index: -1;
  margin-bottom: 30px;
}

.card__desription {
  padding: 50px 40px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-underline-position: under;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background: url(/images/card-lot-01.jpg) no-repeat center/100%;
}

.card_type_book {
  background: url(/images/card-lot-02.jpg) no-repeat center/100%;
}

.card_type_picture {
  background: url(/images/card-lot-03.jpg) no-repeat center/100%;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  line-height: 135%;
  text-underline-position: under;
}

.about {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 179px;
  padding: 0 48px;
}

.about__column {
  display: grid;
  grid-template-columns: 435px auto;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  padding: 63px 46px;
}

.about__text {
  padding-top: 100px;
  padding-left: 25px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__description {
  margin-top: 100px;
  font-size: 20px;
  font-weight: 400;
}

.about__description p:not(:last-child) {
  margin-bottom: 25px;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 181px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.footer__address {
}

.footer__menu {
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  text-underline-position: under;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
}

.footer__social-link {
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
